// google font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

// variables
$primary: #4f2ab8;
$secondary: #ff8941;
$tertiary: #ff524b;
$neumorph: #ecf0f3;
$shadow: #cbced1;
$content: #16141f;
$buttonGray: rgb(161, 160, 160);
$dottedBorder: 2px dotted
   darken(
      $color: $neumorph,
      $amount: 10%,
   );
$activeButton: darken(
   $color: gray,
   $amount: 10%,
);
$cardShadow: 5px 5px 5px $shadow, -5px -5px 5px white, inset -3px -3px 4px $shadow, inset 3px 3px 4px white;

// base styles
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Poppins", sans-serif;
   background-color: black;
}

// adding hover to all cards
.card,
.box {
   transition: transform 300ms ease-in-out;
}

.card:hover,
.box:hover {
   transform: translate(-0.2rem, -0.2rem);
}
