// google font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

// variables
$primary: #4f2ab8;
$secondary: #ff8941;
$tertiary: #ff524b;
$neumorph: #ecf0f3;
$shadow: #cbced1;
$content: #16141f;

// base styles
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Poppins", sans-serif;
   background-color: black;
}

// mixins
@mixin buttonStyles {
   width: 3rem;
   height: 3rem;
   color: gray;
   background-color: $neumorph;
   cursor: pointer;
   outline: none;
   border: none;
   border-radius: 50%;
}

@mixin flexManagement($direction: row, $jc: center, $ai: center) {
   display: flex;
   flex-direction: $direction;
   justify-content: $jc;
   align-items: $ai;
}

@mixin cardStyles($color: black) {
   color: $color;
   font-size: 0.7rem;
   padding: 1rem 1.5rem;
   border-radius: 10px;
   cursor: pointer;
}

// Utility class : .current
.current {
   border: 1px solid $neumorph;
   box-shadow: inset 5px 5px 8px $shadow, inset -5px -5px 8px white;
}
