@import "base";
@import "utilities";

#main-container {
   width: 100vw;
   height: 100vh;
   display: grid;
   grid-template-columns: 0.5fr 4fr 1.5fr;
   grid-template-areas: "navbar main aside";
}

.navbar {
   grid-area: navbar;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(8, 1fr);
   place-items: center;
   background-color: $neumorph;

   &-logo {
      width: 3.5rem;
      height: 3.5rem;
      grid-row: 1 / 3;
      align-self: start;
      margin-top: 2rem;
      @include flexManagement;
      border-radius: 7px;
      box-shadow: 5px 5px 8px $shadow, -5px -5px 8px white, inset -3px -3px 4px $shadow, inset 3px 3px 4px white;

      p {
         font-weight: bolder;
         font-size: 2.25rem;
         color: $secondary;
      }
   }

   &-button {
      @include buttonStyles;
      font-size: 0.8rem;
   }

   &-button-filter {
      grid-row: 3 / 4;
   }
   &-button-dashboard {
      grid-row: 4 / 5;
   }
   &-button-profile {
      grid-row: 5 / 6;
   }
   &-button-stats {
      grid-row: 6 / 7;
   }
}

.main-section {
   grid-area: main;
   max-height: 100vh;
   background-color: white;
   padding: 0rem 5rem;
   display: grid;
   grid-template-rows: 1fr 1fr auto 1fr;
   grid-row-gap: 1rem;

   &-heading {
      color: lighten($color: $content, $amount: 15%);
      font-weight: 600;
      font-size: 2.5rem;
      letter-spacing: 0.02ch;
      place-self: end start;
   }

   // START OF .main-section-cards
   &-cards {
      display: grid;
      grid-template-columns: 4fr 1fr 1fr;
      grid-column-gap: 1rem;
      align-content: start;
   }

   .card {
      @include cardStyles(white);
   }

   .card-exam {
      background-color: $primary;
      @include flexManagement(column, space-evenly, start);

      p span {
         font-size: 0.6rem;
         letter-spacing: 0.2ch;
         opacity: 80%;
      }

      p:nth-child(2) {
         font-size: 1.5rem;
         font-weight: 500;
      }

      &-avatars {
         width: 100%;
         margin-top: 0.5rem;
         @include flexManagement(row, space-between, center);
      }

      .avatars {
         position: relative;
      }

      img {
         width: 1.7rem;
         height: 1.7rem;
         border: 2px solid white;
         border-radius: 50%;
      }

      img:nth-child(2) {
         transform: translateX(-0.7rem);
      }
      img:nth-child(3) {
         transform: translateX(-1.4rem);
      }

      .avatar-span {
         width: 1.8rem;
         height: 1.8rem;
         background-color: $secondary;
         border: 2px solid white;
         border-radius: 50%;
         position: absolute;
         transform: translate(3.5rem, -2rem);
         @include flexManagement;
      }

      .link {
         width: 7rem;
         height: 2rem;
         color: $primary;
         background-color: #fff;
         border-radius: 7px;
         @include flexManagement;

         a {
            font-size: 0.7rem;
            text-decoration: none;
            margin-right: 0.5rem;
         }
      }
   }

   .card-homework,
   .card-reading {
      @include flexManagement(column, space-evenly, start);

      i {
         font-size: 1.5rem;
         margin-bottom: 1rem;
      }

      h3 {
         font-weight: 600;
      }

      p {
         opacity: 90%;
      }
   }

   .card-homework {
      color: $secondary;
      background-color: lighten($color: $secondary, $amount: 30%);
   }

   .card-reading {
      color: $primary;
      background-color: lighten($color: $neumorph, $amount: 3%);
   }
   // END OF .main-section-cards

   &-progress {
      display: grid;
      grid-template-columns: 1fr 1fr 0.25fr;
      grid-column-gap: 1rem;

      .card {
         @include cardStyles;
      }

      .card-info {
         background-color: lighten($color: $neumorph, $amount: 3%);
         box-shadow: $cardShadow;
         position: relative;
         @include flexManagement(column, space-evenly, start);

         p {
            margin-top: 0.3rem;
            font-size: 0.6rem;
            font-weight: 500;
            opacity: 40%;
         }

         .time {
            position: absolute;
            top: 10.3rem;
            right: 1.5rem;
         }

         i {
            position: absolute;
            top: 1.1rem;
            right: 1.5rem;
            font-size: 0.8rem;
         }
      }

      .card-info-inner {
         position: relative;
         width: 100%;
         margin: 1rem 0rem;
         background-color: $secondary;
         @include cardStyles(white);

         p {
            max-width: 80%;
         }

         i {
            position: absolute;
            right: 1.5rem;
            top: 40%;
         }
      }

      .card-progress {
         background-color: white;

         .spain-logo {
            width: 3rem;
            height: 2.5rem;
            background-color: white;
            box-shadow: 5px 5px 8px $shadow, -5px -5px 8px white;
            padding: 0.45rem;
            border-radius: 10px;

            img {
               width: 100%;
               height: 100%;
               border-radius: 7px;
            }
         }

         p {
            font-size: 1.7rem;
            font-weight: 500;
            line-height: 1.7ch;
            margin: 1rem 0rem 2rem 0rem;
         }

         .progress-bar {
            width: 75%;
            height: 0.7rem;
            margin-top: 0.5rem;
            background-color: $secondary;
            border-radius: 50px;
         }
      }
   }

   &-info {
      display: grid;
      grid-template-columns: 1fr 1fr 0.25fr;
      grid-column-gap: 1rem;
      align-content: center;

      .card-grammar,
      .card-dictionary {
         @include cardStyles;
         @include flexManagement(row, start, center);
         border: $dottedBorder;
         position: relative;
      }

      .icon-container {
         width: 2.5rem;
         height: 2.5rem;
         margin-right: 1rem;
         border-radius: 50%;
         box-shadow: $cardShadow;
         @include flexManagement;
      }

      .text-container p {
         margin-top: 0.3rem;
         font-size: 0.6rem;
         font-weight: 500;
         opacity: 40%;
      }

      .fa-chevron-right {
         position: absolute;
         right: 1.5rem;
      }
   }
}

.side-section {
   grid-area: aside;
   background-color: white;
   padding: 0rem 4.5rem 0rem 2rem;
   display: grid;
   grid-template-rows: 3fr auto 4fr;

   &-profile {
      place-self: end center;
      position: relative;
      @include flexManagement(column, space-between, center);

      img {
         width: 7rem;
         height: 7rem;
         border-radius: 50%;
         object-fit: cover;
         margin-bottom: 1rem;
      }

      span {
         position: absolute;
         right: 15%;
         bottom: 37%;
         display: block;
         width: 1.8rem;
         height: 1.8rem;
         font-size: small;
         font-weight: 600;
         // opacity: 90%;
         color: white;
         background-color: $secondary;
         border: 3px solid white;
         border-radius: 50%;
         @include flexManagement;
      }

      h3 {
         color: lighten($color: $content, $amount: 15%);
         font-weight: 600;
         font-size: 1.4rem;
         margin-bottom: 0.2rem;
      }

      p {
         font-size: 0.7rem;
         font-weight: 600;
         opacity: 50%;
      }
   }

   &-advert {
      margin: 1.5rem 0rem;

      .box {
         @include cardStyles;
         @include flexManagement(row, space-between, center);
         border: $dottedBorder;
         padding-top: 1.5rem;
         padding-bottom: 1.5rem;
      }

      &-info {
         p {
            font-size: 0.6rem;
            font-weight: 500;
            opacity: 40%;
            margin-top: 0.3rem;
         }
      }

      &-link {
         width: 2rem;
         height: 2rem;
         opacity: 60%;
         box-shadow: $cardShadow;
         @include flexManagement;
      }
   }

   &-progress {
      @include flexManagement(column, center, center);

      &-title {
         color: lighten($color: $content, $amount: 15%);
         font-weight: 600;
         font-size: 1.4rem;
         transform: translateY(-1rem);
      }

      &-grammar,
      &-dictionary,
      &-reading {
         @include flexManagement(row, space-between, center);
         @include cardStyles;
         width: 100%;
         margin-bottom: 0.5rem;
         border: $dottedBorder;

         .box-info {
            text-align: right;
            p {
               font-size: 0.6rem;
               font-weight: 500;
               opacity: 40%;
               margin-top: 0.3rem;
            }
         }

         .icon {
            @include flexManagement;
            margin-right: 0.3rem;
         }

         i {
            color: white;
            font-size: 1rem;
         }
      }

      &-grammar {
         > h3 {
            color: $primary;
            font-weight: 600;
            font-size: 1rem;
         }

         .icon {
            width: 2.5rem;
            height: 2.5rem;
            background-color: $primary;
            border-radius: 10px;
         }
      }

      &-dictionary {
         > h3 {
            color: $secondary;
            font-weight: 600;
            font-size: 1rem;
         }

         .icon {
            width: 2.5rem;
            height: 2.5rem;
            background-color: $secondary;
            border-radius: 10px;
            transform: translateX(0.25rem);
         }
      }

      &-reading {
         margin-bottom: 0rem;

         > h3 {
            color: $tertiary;
            font-weight: 600;
            font-size: 1rem;
         }

         .icon {
            width: 2.5rem;
            height: 2.5rem;
            background-color: $tertiary;
            border-radius: 10px;
         }
      }
   }
}
